@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

.hero {
    background-image: url('../images/bg.jpg');
    background-size: cover;
}

#whoAreWe {
    background-image: url('../images/clothing.jpg');
    background-size: cover;
}

#whoAreWe div {
    background-color: rgb(0, 0, 0, 0.6);
    border-radius: 30px;
}

.column {
    border-radius: 30px;
}

#clothesh2 {
    text-align: center;
}

.navbar-item img {
    max-height: 5rem;
}
